/* General Styles */
html {
  background: #f9f9f9;
  font-family: "Lato", sans-serif !important;
}

body {
  background: #f9f9f9;
  font-family: "Lato", sans-serif !important;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

.container {
  background: #f9f9f9;
  max-width: 570px;
}

/* Button Styles */
.button {
  border: none;
  border-radius: 60px;
  color: #fff;
  height: 44px;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.98);
}

.button-primary {
  background-color: #F22539 !important;
  border-color: #F22539 !important;
}

.button-primary:active {
  background-color: #C00E20 !important;
  border-color: #C00E20 !important;
}

.button-secondary {
  background: #bfbfbf !important;
  border-color: #bfbfbf !important;
}

/* Loader Styles */
.loader {
  background-color: #f9f9f9;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  opacity: 1;
}

.loader .reel {
  border: none;
  border-radius: 50%;
  display: inline-block;
  height: 106px;
  position: relative;
  width: 106px;
  top: 45%;
}

.loader .spin {
  animation: spin 1s linear infinite;
}

.image-loader {
  height: 106px;
  width: 106px;
}

/* Welcome Screen */
.welcome {
  .image {
    height: 288px;
    margin-top: 70px;
    width: 325px;
  }

  .title {
    color: #353535;
    font-family: Lato;
    font-size: 26px;
    font-weight: bold;
    height: 31px;
    line-height: 31px;
    text-align: center;
    top: 418px;
  }

  .subtitle {
    color: #5e5e5e;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    top: 479px;
    width: 570px;
  }

  .link-get-started {
    margin-top: 50px;
    text-align: center;

    .button-primary {
      width: 131px;
    }
  }
}

/* Home Screen */
.home {
  .input-search {
    border-left: none;
    border-radius: 5px;
    height: 50px;
    font-size: 16px;
    top: 35px;

    .input-group-text {
      background-color: #fff;
      border: none;
      box-shadow: 0px 2px 10px 0px #0000000A;
    }

    input {
      border: none;
      border-radius: 5px;
      flex: 1 1 auto;
      font-family: "Lato", sans-serif !important;
      font-size: 16px;
      min-width: 0;
      position: relative;
      width: 1%;
    }

    input:focus {
      border: none;
      outline: none;
    }

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-moz-search-cancel-button {
      display: none;
    }
  }

  .list-items {
    margin-bottom: 90px;
    margin-top: 70px;

    .card {
      background-color: #fff;
      border: none;
      box-shadow: 0px 2px 10px 0px #0000000A;
      cursor: pointer;
      margin-top: 8px;

      .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0rem;

        .card-text {
          display: flex;
          justify-content: space-between;
          padding: 8px;

          h5 {
            color: #353535;
            font-family: Lato;
            font-size: 22px;
            font-weight: 500;
            line-height: 44px;
            margin: 0;
            text-align: left;
            width: 100%;
          }

          .start {
            align-items: center;
            background-color: #f5f5f5;
            border-radius: 50%;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            height: 44px;
            justify-content: center;
            margin-bottom: 0px;
            width: 44px;

            .icon-star-list {
              color: #BFBFBF;
              height: 26px;
              width: 26px;

              &.check {
                color: #eca539;
              }

              &::before {
                font-size: 26px;
                line-height: 26px;
              }
            }
          }
        }
      }

      &:hover {
        background-color: #E8E8E8;
        transform: scale(1.02);
      }
    }
  }

  .not-found {
    .title {
      color: #353535;
      font-family: Lato;
      font-size: 36px;
      font-weight: bold;
      height: 43px;
      line-height: 43px;
      margin-top: 50px;
      text-align: center;
    }

    .subtitle {
      color: #5e5e5e;
      font-size: 20px;
      font-weight: 500;
      line-height: 150%;
      margin: auto;
      margin-top: 10px;
      text-align: center;
      width: 262px;
    }

    .btn-go-back {
      margin-top: 20px;
      text-align: center;

      .button-primary {
        width: 155px;
      }
    }
  }

  .navbar-fixed {
    background: #fff;
    bottom: 0px;
    box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.05);
    height: 80px;
    padding: 18px;
    position: fixed;
    width: 100%;

    .navbar-form {
      .button {
        margin-left: 1%;
        margin-right: 1%;
        width: 46%;
      }
    }
  }
}

/* Modal Styles */
.modal-detail {
  .btn-close-icon {
    cursor: pointer;
    height: 26px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 26px;
    z-index: 2;

    &:hover {
      transform: scale(1.25);
    }
  }

  .start {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 44px;
    justify-content: center;
    margin-bottom: 0px;
    width: 44px;

    .icon-star-list {
      color: #BFBFBF;
      height: 26px;
      width: 26px;

      &.check {
        color: #eca539;
      }

      &::before {
        font-size: 26px;
        line-height: 26px;
      }
    }

    &:hover {
      transform: scale(1.25);
    }
  }

  .modal-content {
    border: none;
  }

  .image-background-modal {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  .image-pokemon-modal {
    height: 180px;
    margin-top: -246px;
    position: relative;
    width: 180px;
    z-index: 1;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0rem;
    position: unset;

    .container-image {
      height: 220px;
      text-align: center;
    }
  }

  .ability-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    .ability {
      border-bottom: solid 1px #e8e8e8;
      margin-top: 0px;
      padding: 12px 25px;
    }
  }

  .block-bottom {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    padding: 17px 25px;
    width: 100%;
  }

  .modal-header,
  .modal-footer {
    display: none;
  }

  .ability > span {
    font-size: 15px;
    font-weight: normal;
  }
}

/* Tablet */
/* Portrait */
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait) {
  .welcome {
    & .subtitle {
      width: 570px;
    }
  }
}

/* Landscape */
@media (min-width: 991.98px) and (max-width: 1199.98px) and (orientation: landscape) {
  .welcome {
    & .subtitle {
      width: 570px;
    }
  }
}
/* Fin Tablet */

/* Móvil */
/* Portrait */
/* Default */
@media (max-width: 575.98px) and (orientation: portrait) {
  .welcome {
    & .subtitle {
      width: 250px;
    }
  }
  .modal-dialog {
    margin: 1.3rem;
  }
}

/* Landscape */
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: landscape) {
  .welcome {
    & .subtitle {
      width: 600px;
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    margin-left: auto;
    margin-right: auto;
    max-width: 570px;
  }
}

/* Keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
