html {
  font-family: "Lato", sans-serif !important;
  background: #f9f9f9;
}

body {
  font-family: "Lato", sans-serif !important;
  background: #f9f9f9;
}

.container {
  background: #f9f9f9;
  max-width: 570px;
}


.button {
  border: none;
  border-radius: 60px;
  color: #fff;
  height: 44px;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.98);
}

.button-primary {
  background-color: #F22539 !important;
  border-color: #F22539 !important;
}

.button-primary:hover {
  background-color: #C00E20;
  border-color: #C00E20;
}

.button-secondary {
  background: #bfbfbf !important;
  border-color: #bfbfbf !important;
}

.button-primary:hover {
  background-color: #000;
}

.welcome {
  & .image {
    width: 325px;
    height: 288px;
    margin-top: 70px;
  }
  & .title {
    height: 31px;
    top: 418px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    align-items: center;
    text-align: center;
    color: #353535;
  }
  & .subtitle {
    margin: auto;
    margin-top: 30px;
    width: 570px;
    top: 479px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #5e5e5e;
  }

  & .link-get-started {
    margin-top: 50px;
    text-align: center;
    & .button-primary {
      width: 131px;
    }
  }
}

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait) {
  .welcome {
    & .subtitle {
      width: 570px;
    }
  }
}

/*landscape*/
@media (min-width: 991.98px) and (max-width: 1199.98px) and (orientation: landscape) {
  .welcome {
    & .subtitle {
      width: 570px;
    }
  }
}
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px) and (orientation: portrait) {
  .welcome {
    & .subtitle {
      width: 250px;
    }
  }
  .modal-dialog {
    margin: 1.3rem;
  }
}
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: landscape) {
  .welcome {
    & .subtitle {
      width: 600px;
    }
  }
}

.home {
  .input-search {
    border-left: none;
    height: 50px;
    font-size: 16px;
    top: 35px;
    border-radius: 5px;
    .input-group-text {
      border: none;
      background-color: #fff;
      box-shadow: 0px 2px 10px 0px #0000000A;
    }
    input {
      font-family: "Lato", sans-serif !important;
      border: none;
      font-size: 16px;
      position: relative;
      flex: 1 1 auto;
      width: 1%;
      min-width: 0;
      border-radius: 5px;
      box-shadow: 0px 2px 10px 0px #0000000A;
    }
    input:focus {
      border: none;
      outline: none;
    }
    input[type="search"]::-webkit-search-cancel-button {
      display: none;
    }
    input[type="search"]::-moz-search-cancel-button {
      display: none;
    }
  }
  .list-items {
    margin-top: 70px;
    margin-bottom: 90px;
    .card {
      border: none;
      background-color: #fff;
      box-shadow: 0px 2px 10px 0px #0000000A;
      cursor: pointer;
      margin-top: 8px;
      .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0rem;
        .card-text {
          align-items: center;
          display: flex;
          justify-content: space-between;
          margin-left: 8px;
          padding: 8px;
          h5 {
            color: #353535;
            cursor: pointer;
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 44px;
            margin: 0;
            width: 100%;
          }
          p {
            align-items: center;
            background-color: #f5f5f5;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            height: 44px;
            justify-content: center;
            margin-bottom: 0px;
            width: 44px;
            .icon-star-list {
              height: 26px;
              width: 26px;
              color: #BFBFBF;
              &.check {
                color: #eca539;
              }
            }
            .icon-star-list::before {
              font-size: 26px;
              line-height: 26px;
            }
          }
        }
      }
    }
    .card:hover {
      transform: scale(1.02);
      background-color: #E8E8E8;
    }
  }
  .not-found {
    & .title {
      margin-top: 50px;
      height: 43px;
      left: 132px;
      top: 135px;
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 43px;
      align-items: center;
      text-align: center;
      color: #353535;
    }

    & .subtitle {
      margin-top: 10px;
      margin: auto;
      width: 262px;
      height: 30px;
      left: 56px;
      top: 188px;
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      text-align: center;
      color: #5e5e5e;
    }
    & .btn-go-back {
      margin-top: 20px;
      text-align: center;
      & .button-primary {
        width: 155px;
      }
    }
  }
  .navbar-fixed {
    position: fixed;
    bottom: 0px;
    background: #fff;
    width: 100%;
    box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.05);
    height: 80px;
    padding: 18px;
    & .navbar-form {
      & .button {
        width: 46%;
        margin-left: 1%;
        margin-right: 1%;
      }
    }
  }
}





.b-overlay > div {
  position: fixed !important;
}


.form-inline {
  display: block;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
  margin-top: 10.5px;
}

.see-more {
  margin-top: -80px;
  margin-bottom: 110px;
  text-align: center;
}

.image-background-modal {
  position: absolute;
  width: 498px;
  height: 224px;
  margin-top: -57px;
  margin-left: -159px;
}

.image-pokemon-modal {
  position: relative;
  width: 180px;
  height: 180px;
  margin-top: -25px;
}

.modal-body {
  position: unset;
  flex: 1 1 auto;
  padding: 0rem;
}

.modal-header {
  height: 20px;
  padding-top: 0px;
}

.modal-body > div.text-center {
  height: 170px;
  margin-top: 30px;
}

.modal-footer {
  display: none;
}

.modal-body > .data.btn-share > p {
  float: right;
  margin-bottom: 0rem;
  width: 44px;
  height: 44px;
  background-color: #f5f5f5;
  border-radius: 50%;
  margin-right: 0px;
  cursor: pointer;
  margin-top: -2px;
}

header.modal-header > button.close {
  z-index: 1;
  margin: 14px 0px;
  padding: 0px;
  width: 26px;
  height: 26px;
  color: #79c9f9;
  background: #fff;
  opacity: 1;
  border-radius: 50%;
  font-weight: bold;
  line-height: 0px;
  font-size: 24px;
  text-align: center;
}

.data {
  margin-left: 30px;
  margin-top: 10px;
  margin-right: 30px;
  border-bottom: solid 1px #e8e8e8;
}

.data > h3 {
  height: 27px;
  left: 30px;
  top: calc(50% - 27px / 2 + 0.5px);
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  width: auto;
  display: inline-block;
}

.data > p {
  height: 27px;
  left: 30px;
  top: calc(50% - 27px / 2 + 0.5px);
  font-family: Lato;
  font-style: normal;
  font-size: 18px;
  width: auto;
  display: inline-block;
}

.data.btn-share {
  border-bottom: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  z-index: 9999;
  opacity: 1;
}

.loader .reel {
  width: 106px;
  height: 106px;
  border: none;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.loader .spin {
  animation: spin 1s linear infinite;
}

.image-loader {
  width: 106px; /* Ajusta el tamaño según lo que necesites */
  height: 106px;
}



.navbar-fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center; /* Centra los botones verticalmente */
  background: #fff;
  z-index: 10;
  height: 80px; /* Ajusta la altura según tus necesidades */
}

.b-nav-form {
  display: flex;
  justify-content: space-between; /* Espacio equitativo entre los botones */
  width: 50%; /* Ajusta el ancho del contenedor para que los botones no ocupen toda la barra */
}


